client/src/main/java/org/example/proxy/.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.example.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.example.org/" name="BanqueWs">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.example.org/" schemaLocation="http://localhost:9191/?xsd=1"/>
</xsd:schema>
</types>
<message name="ConversionEuroToDirham">
<part name="parameters" element="tns:ConversionEuroToDirham"/>
</message>
<message name="ConversionEuroToDirhamResponse">
<part name="parameters" element="tns:ConversionEuroToDirhamResponse"/>
</message>
<message name="listeComptes">
<part name="parameters" element="tns:listeComptes"/>
</message>
<message name="listeComptesResponse">
<part name="parameters" element="tns:listeComptesResponse"/>
</message>
<message name="getCompte">
<part name="parameters" element="tns:getCompte"/>
</message>
<message name="getCompteResponse">
<part name="parameters" element="tns:getCompteResponse"/>
</message>
<portType name="BanqueService">
<operation name="ConversionEuroToDirham">
<input wsam:Action="http://ws.example.org/BanqueService/ConversionEuroToDirhamRequest" message="tns:ConversionEuroToDirham"/>
<output wsam:Action="http://ws.example.org/BanqueService/ConversionEuroToDirhamResponse" message="tns:ConversionEuroToDirhamResponse"/>
</operation>
<operation name="listeComptes">
<input wsam:Action="http://ws.example.org/BanqueService/listeComptesRequest" message="tns:listeComptes"/>
<output wsam:Action="http://ws.example.org/BanqueService/listeComptesResponse" message="tns:listeComptesResponse"/>
</operation>
<operation name="getCompte">
<input wsam:Action="http://ws.example.org/BanqueService/getCompteRequest" message="tns:getCompte"/>
<output wsam:Action="http://ws.example.org/BanqueService/getCompteResponse" message="tns:getCompteResponse"/>
</operation>
</portType>
<binding name="BanqueServicePortBinding" type="tns:BanqueService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ConversionEuroToDirham">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listeComptes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCompte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BanqueWs">
<port name="BanqueServicePort" binding="tns:BanqueServicePortBinding">
<soap:address location="http://localhost:9191/"/>
</port>
</service>
</definitions>